.app.dark {
    --bg-color: var(--blue-400);
    --inverted-bg-color:  var(--blue-700);

    --font-color: var(--black);
    --primary-color: var(--white);
    --secondary-color: var(--blue-200);
    --inverted-primary-color: #022bb2;
    --inverted-secondary-color: #0793e4;
}