:root {
    --bg-color:  var(--white);
    --inverted-bg-color: var(--blue-400);

    --font-color: var(--black);
    --primary-color: var(--white);
    --secondary-color: var(--blue-200);
    --inverted-primary-color: #059604;
    --inverted-secondary-color: #04ff04;
}