.Navbar {
    top: 0;
    position: fixed;
    width: 100%;
    height: var(--navbar-heigth);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px
}

.links {
    margin-left: auto;
    text-transform: uppercase;
   
}

.mainLink {
    margin-right: 15px;
}
